<!DOCTYPE html>
<html>
  <head>
    <title>API列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <style type="text/css">
        .APIContainer{
          margin-bottom: 5px;
          margin-top: 15px;
          font-size: 15px;
          margin-left: 28px;
          border-left: solid 5px rgba(0,128,0,0.3);
          padding-left: 5px;
          border-bottom: solid 1px rgb(240,240,240);
          border-top: solid 1px rgb(240,240,240);
        }
        .section-container{
          margin-left: 5px;
        }

        .key{
          font-size: 16px;
        }      
        .value{
          margin-bottom: 10px;
          padding-left: 20px;
        } 
        .title{
          font-size: 17px;
          margin-bottom: 15px;
          margin-top: 10px;
        }
    </style>    
  </head>
  <body>
  <div style="margin-top: 5px; margin-bottom: 10px; font-size: 16px; margin-left: 5px; border-bottom: solid 2px rgba(128,128,128, 0.2); padding-bottom: 12px; border-top: solid 10px rgba(230,230,230,0.2); padding-top: 10px; padding-left: 10px;">API列表</div>

<!-- 产品综合信息 -->
  <div class="section-container">
    <div class="section-title" style="padding-left: 10px;font-size: 21px;">产品综合信息</div>
      <div class = "APIContainer" >
          <div class="title">1.获取产品当前状态信息</div>
          <div class="key">链接</div>
          <div class="value">/productCurrentStateWithSegmentExpand</div>
          <div class="key">参数</div>
          <div class="value">
            {"segment":"inventory"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               暂缺
          </div>
          <div class="key">说明</div>
          <div class="value">
             segment:环节;
          </div>
      </div>

  </div>
<!-- 产品当前状态信息 -->
  <div class="section-container">
    <div class="section-title" style="padding-left: 10px;font-size: 21px;">产品当前状态信息</div>
      <div class = "APIContainer" >
          <div class="title">1.根据EPC获取产品状态</div>
          <div class="key">链接</div>
          <div class="value">/productCurrentStateList</div>
          <div class="key">参数</div>
          <div class="value">
            {"productEPC":"000001"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               [{"productEPC":"000001","segment":"inventory","timeStamp":"2014-05-04 10:18:44","note":"inventory test"}]
          </div>
          <div class="key">说明</div>
          <div class="value">
             productEPC:产品编码;segment:环节;timeStamp:时间;note:备注说明
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">1.根据环节获取产品状态</div>
          <div class="key">链接</div>
          <div class="value">/productCurrentStateWithSegment</div>
          <div class="key">参数</div>
          <div class="value">
            {"segment":"inventory"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               [{"productEPC":"000001","segment":"inventory","timeStamp":"2014-05-04 10:18:44","note":"inventory test"}]
          </div>
          <div class="key">说明</div>
          <div class="value">
             productEPC:产品编码;segment:环节;timeStamp:时间;note:备注说明
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">2.更新产品状态</div>
          <div class="key">链接</div>
          <div class="value">/updateProductState</div>
          <div class="key">参数</div>
          <div class="value">
            {"productEPC":"000001","segment":"inventory","note":"inventory test"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               添加成功：ok；重复添加：duplicated；异常错误：error
          </div>
          <div class="key">说明</div>
          <div class="value">
             productEPC:产品编码;segment:环节;note:备注说明
          </div>
      </div>
  </div>

  <div class="section-container">
    <div class="section-title" style="padding-left: 10px;font-size: 21px;">产品历史关键节点信息</div>
      <div class = "APIContainer" >
          <div class="title">1.获取产品历史关键节点信息列表</div>
          <div class="key">链接</div>
          <div class="value">/productHistoryKeyPointList</div>
          <div class="key">参数</div>
          <div class="value">
            {"productEPC":"000001"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               [{"productEPC":"000001","actionID":"A00002","paraID":"P00001","timeStamp":"2014-05-04 15:17:16"}]
          </div>
          <div class="key">说明</div>
          <div class="value">
              productEPC:产品编码;actionID:操作ID;paraID:参数ID(可能会有一系列，包含了该节点的一些参数);timeStamp:时间
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">2.添加关键节点信息</div>
          <div class="key">链接</div>
          <div class="value">/addProductHistoryKeyPoint</div>
          <div class="key">参数</div>
          <div class="value">
               {"productEPC":"000001","actionID":"A00002","paraID":"P00001"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               添加成功：ok；重复添加：duplicated；异常错误：error
          </div>
          <div class="key">说明</div>
          <div class="value">
             productEPC:产品编码;actionID:操作ID;paraID:参数ID(可能会有一系列，包含了该节点的一些参数)
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">3.删除关键节点信息</div>
          <div class="key">链接</div>
          <div class="value">/removeProductHistoryKeyPoint</div>
          <div class="key">参数</div>
          <div class="value">
               {"productEPC":"000001"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               添加成功：ok；异常错误：error
          </div>
          <div class="key">说明</div>
          <div class="value">
             productEPC:产品编码;
          </div>
      </div>
  </div>
<!-- 装箱信息 -->
  <div class="section-container">
    <div class="section-title" style="padding-left: 10px;font-size: 21px;">装箱信息</div>
      <div class = "APIContainer" >
          <div class="title">1.获取装箱EPC列表</div>
          <div class="key">链接</div>
          <div class="value">/allBagageList</div>
          <div class="key">参数</div>
          <div class="value">
            无
          </div>
          <div class="key">返回</div>
          <div class="value">
               ["b000001", "b000002"]
          </div>
          <div class="key">说明</div>
          <div class="value">
              bagageID列表
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">2.添加装箱信息</div>
          <div class="key">链接</div>
          <div class="value">/addBagageInfo</div>
          <div class="key">参数</div>
          <div class="value">
               {"productEPC":"000001","bagageID":"A00002"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               添加成功：ok；重复添加：duplicated；异常错误：error
          </div>
          <div class="key">说明</div>
          <div class="value">
             productEPC:产品编码;bagageID:装箱ID;
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">3.删除装箱信息</div>
          <div class="key">链接</div>
          <div class="value">/removeBagageInfo</div>
          <div class="key">参数</div>
          <div class="value">
               {"bagageID":"000001"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               添加成功：ok；异常错误：error
          </div>
          <div class="key">说明</div>
          <div class="value">
             bagageID:装箱ID;
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">4.获取装箱详细信息</div>
          <div class="key">链接</div>
          <div class="value">/specialBagageInfo</div>
          <div class="key">参数</div>
          <div class="value">
               {"bagageID":"b000001"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               [{"bagageID":"b000001","productEPC":"000001","timeStamp":"2014-05-04 19:54:38"},{"bagageID":"b000001","productEPC":"000002","timeStamp":"2014-05-04 19:58:23"}]
          </div>
          <div class="key">说明</div>
          <div class="value">
             productEPC:产品编码;bagageID:装箱ID;timeStamp:时间
          </div>
      </div>      

      <div class = "APIContainer" >
          <div class="title">5.获取产品所在的装箱详细信息</div>
          <div class="key">链接</div>
          <div class="value">/bagageInfoWithEPC</div>
          <div class="key">参数</div>
          <div class="value">
               {"productEPC":"000001"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               {"bagageID":"b000001","productEPC":"000002","timeStamp":"2014-05-04 19:58:23"}
          </div>
          <div class="key">说明</div>
          <div class="value">
             productEPC:产品编码;bagageID:装箱ID;timeStamp:时间
          </div>
      </div>        
  </div>
  <!-- 订单管理 -->
    <div class="section-title" style="padding-left: 10px;font-size: 21px;">订单管理</div>
      <div class = "APIContainer" >
          <div class="title">1.获取订单列表</div>
          <div class="key">链接</div>
          <div class="value">/orderListAll?orders=orderman&supplier=supplierman</div>
          <div class="key">参数</div>
          <div class="value">
            无
          </div>
          <div class="key">返回</div>
          <div class="value">
               [{"orderID":"O000001","productCode":"p00001","orders":"orderman","supplier":"supplierman","quantity":"10","orderState":"","note":"","timeStamp":"2014-05-07 15:32:18", "productName": "未定义"}]
          </div>
          <div class="key">说明</div>
          <div class="value">
             orderID:订单ID;productCode:产品代码 orders:订货商(orderman是示例，请替换为实际参数值);Supplier:供货商(supplierman);quantity:数量;timeStamp:时间; OrderState:订单状态; note:备注;productName:产品名称
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">2.根据订货商获取订单列表(该API将被删除)</div>
          <div class="key">链接</div>
          <div class="value">/orderListOfSpecifiedOrders</div>
          <div class="key">参数</div>
          <div class="value">
            {"orders":"orderman"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               [{"orderID":"O000001","productCode":"p00001","orders":"orderman","supplier":"supplierman","quantity":"10","orderState":"","note":"","timeStamp":"2014-05-07 15:32:18"}]
          </div>
          <div class="key">说明</div>
          <div class="value">
             orderID:订单ID;productCode:产品代码 orders:订货商;Supplier:供货商;quantity:数量;timeStamp:时间; OrderState:订单状态; note:备注
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">3.根据供货商获取订单列表(该API将被删除)</div>
          <div class="key">链接</div>
          <div class="value">/orderListOfSpecifiedSupplier</div>
          <div class="key">参数</div>
          <div class="value">
            {"supplier":"supplierman"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               [{"orderID":"O000001","productCode":"p00001","orders":"orderman","supplier":"supplierman","quantity":"10","orderState":"","note":"","timeStamp":"2014-05-07 15:32:18"}]
          </div>
          <div class="key">说明</div>
          <div class="value">
             orderID:订单ID;productCode:产品代码 orders:订货商;Supplier:供货商;quantity:数量;timeStamp:时间; OrderState:订单状态; note:备注
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">4.添加订单</div>
          <div class="key">链接</div>
          <div class="value">/addOrder</div>
          <div class="key">参数</div>
          <div class="value">
            {"orderID":"O000001","productCode":"p00001","orders":"orderman","supplier":"supplierman","quantity":"10","orderState":"","note":""}
          </div>
          <div class="key">返回</div>
          <div class="value">
               添加成功：ok；重复添加：duplicated；异常错误：error
          </div>
          <div class="key">说明</div>
          <div class="value">
             orderID:订单ID;productCode:产品代码 orders:订货商;Supplier:供货商;quantity:数量; OrderState:订单状态; note:备注
          </div>
      </div>
      <div class = "APIContainer" >
          <div class="title">5.删除订单</div>
          <div class="key">链接</div>
          <div class="value">/removeOrder</div>
          <div class="key">参数</div>
          <div class="value">
            {"orderID": "00001"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               添加成功：ok；异常错误：error
          </div>
          <div class="key">说明</div>
          <div class="value">
               orderID:订单ID;
          </div>
      </div>

      <div class = "APIContainer" >
          <div class="title">6.更新订单状态</div>
          <div class="key">链接</div>
          <div class="value">/updateOrder</div>
          <div class="key">参数</div>
          <div class="value">
            {"orderID": "00001", "orderState": "test"}
          </div>
          <div class="key">返回</div>
          <div class="value">
               添加成功：ok；异常错误：error
          </div>
          <div class="key">说明</div>
          <div class="value">
               orderID:订单ID; OrderState:订单状态;
          </div>
      </div>


  </body>
</html>